In [2]:
import pandas as pd

In [3]:
obj = pd.Series([4,1,-5,3])

In [4]:
obj

0    4
1    1
2   -5
3    3
dtype: int64

In [5]:
obj.values

array([ 4,  1, -5,  3], dtype=int64)

In [6]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
sales = pd.Series([100,200,500,50], index = ['Jan', 'Feb', 'Mar', 'Apr'])
sales

Jan    100
Feb    200
Mar    500
Apr     50
dtype: int64

In [9]:
sales = pd.Series([100,200,500,50], index = ['Jan', 'Feb', 'Mar', 'Apr'], name = "4 Months Sales")
sales

Jan    100
Feb    200
Mar    500
Apr     50
Name: 4 Months Sales, dtype: int64

In [11]:
canteen = pd.Series([30,41,25,53,80,0,0], index = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'], name = 'One Week Sandwicthes Sale Data')
canteen

Mon    30
Tue    41
Wed    25
Thu    53
Fri    80
Sat     0
Sun     0
Name: One Week Sandwicthes Sale Data, dtype: int64

In [12]:
canteen[1]

41

In [15]:
canteen["Tue"]

41

In [16]:
canteen[[3,5]]

Thu    53
Sat     0
Name: One Week Sandwicthes Sale Data, dtype: int64

In [17]:
canteen[['Tue','Thu']]

Tue    41
Thu    53
Name: One Week Sandwicthes Sale Data, dtype: int64

In [18]:
canteen[canteen > 40]

Tue    41
Thu    53
Fri    80
Name: One Week Sandwicthes Sale Data, dtype: int64

In [19]:
canteen * 2

Mon     60
Tue     82
Wed     50
Thu    106
Fri    160
Sat      0
Sun      0
Name: One Week Sandwicthes Sale Data, dtype: int64

In [20]:
canteen

Mon    30
Tue    41
Wed    25
Thu    53
Fri    80
Sat     0
Sun     0
Name: One Week Sandwicthes Sale Data, dtype: int64

In [21]:
canteen = canteen * 2
canteen

Mon     60
Tue     82
Wed     50
Thu    106
Fri    160
Sat      0
Sun      0
Name: One Week Sandwicthes Sale Data, dtype: int64

In [22]:
canteen = canteen / 2
canteen

Mon    30.0
Tue    41.0
Wed    25.0
Thu    53.0
Fri    80.0
Sat     0.0
Sun     0.0
Name: One Week Sandwicthes Sale Data, dtype: float64

In [23]:
'Wed' in canteen

True

In [24]:
import numpy as np

In [32]:
arr = np.array([1000,555,600,425])
ind = np.array(['week1', 'week2', 'week3', 'week4'])

monthly = pd.Series(arr, index = ind, name = "One Month Sales Data of a Canteen")
monthly

week1    1000
week2     555
week3     600
week4     425
Name: One Month Sales Data of a Canteen, dtype: int32

In [34]:
stateData = {'Sindh': 50000, 'Punjab': 45000, 'KPK': 35000, 'Balochistan': 38000, 'Gilgit Baltistan': 20000}
taxes = pd.Series(stateData, name = 'Taxes Paid in a year by a State')
taxes

Sindh               50000
Punjab              45000
KPK                 35000
Balochistan         38000
Gilgit Baltistan    20000
Name: Taxes Paid in a year by a State, dtype: int64

In [37]:
taxes_ordered = pd.Series(stateData, index = ['Punjab', 'Sindh', 'Balochistan', 'KPK', 'Gilgit Baltistan'], name = 'Taxes Paid in a year by a State')
taxes_ordered

Punjab              45000
Sindh               50000
Balochistan         38000
KPK                 35000
Gilgit Baltistan    20000
Name: Taxes Paid in a year by a State, dtype: int64

In [43]:
taxes_null = pd.Series(stateData, index = ['Punjab', 'Sindh', 'Balochistan', 'KPK', 'GB'], name = 'Taxes Paid in a year by a State')
print(taxes_null)
pd.isnull(taxes_null)

Punjab         45000.0
Sindh          50000.0
Balochistan    38000.0
KPK            35000.0
GB                 NaN
Name: Taxes Paid in a year by a State, dtype: float64
Punjab         False
Sindh          False
Balochistan    False
KPK            False
GB              True
Name: Taxes Paid in a year by a State, dtype: bool

In [44]:
taxes_null.isnull()

Punjab         False
Sindh          False
Balochistan    False
KPK            False
GB              True
Name: Taxes Paid in a year by a State, dtype: bool

In [46]:
index_name = taxes
index_name.index.name = "States"
index_name

States
Sindh               50000
Punjab              45000
KPK                 35000
Balochistan         38000
Gilgit Baltistan    20000
Name: Taxes Paid in a year by a State, dtype: int64

In [47]:
canteen

Mon    30.0
Tue    41.0
Wed    25.0
Thu    53.0
Fri    80.0
Sat     0.0
Sun     0.0
Name: One Week Sandwicthes Sale Data, dtype: float64

In [48]:
canteen.index = ['m','t','w','t','f','s','s'];
canteen

m    30.0
t    41.0
w    25.0
t    53.0
f    80.0
s     0.0
s     0.0
Name: One Week Sandwicthes Sale Data, dtype: float64